

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>

    <div class="">
      <div class="col-md-5" style="background-color: red; height: 100px">

      </div>
      <div class="col-md-5" style="background-color: blue; height: 100px">

      </div>
    </div>

  </body>
</html>
